@tailwind base;
@tailwind components;
@tailwind utilities;

.hoverable-element {
  cursor: pointer;
}
.line {
  width: 0;
  transition: width 0.4s ease;
}
.hoverable-element:hover .line {
  width: 100%;
}
.prevent-select {
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}